.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body {
	font-family: 'Quicksand', sans-serif;
  position: relative;
}
.container {
  z-index: -1;
  width: 1350px;
  padding-bottom: 50px;
}

* {
  margin: 0 auto;
  color: #333;
}

* a {
  text-decoration: none;
}

* ul {
  list-style-type: none;
}

* button {
  border: none;
  border-radius: 5px;
}

.none {
  display: none;
}

.block {
  display: block;
}

header {
  height: 100px;
}

header .logo {
  width: 300px;
  height: 100px;
  background: yellow;
}

header .logo a img {
  width: 100%;
  height: 100%;
}

header .login_search_contact {
  background: rgba(0, 0, 0, 0.199) url(img/backgr.png);
  background-blend-mode: darken;
  background-size: cover;
  width: 1200px;
}

header .login_search_contact .login_search {
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .login_search_contact .login_search .search {
  position: relative;
}

header .login_search_contact .login_search .search > input {
  width: 600px;
  padding: 10px 10px 10px 50px;
  border-radius: 5px;
  border: none;
}

header .login_search_contact .login_search .search > input::-webkit-input-placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input:-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input::-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input::placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input:focus {
  outline: none;
}

header .login_search_contact .login_search .search i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  color: #333;
}

header .login_search_contact .login_search .login a {
  padding: 10px;
  margin-right: 15px;
  background: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
}

header .login_search_contact .login_search .login a:hover {
  background: #eebbc3;
  color: #fff;
}

header .login_search_contact .contact {
  margin-bottom: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .login_search_contact .contact i {
  padding-right: 10px;
  color: #fff;
}

header .login_search_contact .contact a {
  color: #fff;
}

header .login_search_contact .contact .phone_num, header .login_search_contact .contact .mail, header .login_search_contact .contact .address {
  padding: 10px;
}

header .login_search_contact .contact .phone_num:hover, header .login_search_contact .contact .mail:hover, header .login_search_contact .contact .address:hover {
  background: #fff;
}

header .login_search_contact .contact .phone_num:hover a, header .login_search_contact .contact .phone_num:hover i, header .login_search_contact .contact .mail:hover a, header .login_search_contact .contact .mail:hover i, header .login_search_contact .contact .address:hover a, header .login_search_contact .contact .address:hover i {
  color: #333;
}

.title {
  -webkit-box-shadow: 1px 1px 10px 10px silver;
          box-shadow: 1px 1px 10px 10px silver;
  height: 50px;
}

.title .navbar {
  background-color: #eebbc3;
  font-size: 20px;
  width: 1350px;
}

.title .navbar ul li {
  padding: 15px 60px;
  margin-left: 0;
}

.title .navbar ul li a, .title .navbar ul li i {
  color: #fff;
}

.title .navbar ul li:hover {
  background: #fff;
}

.title .navbar ul li:hover > a, .title .navbar ul li:hover i {
  color: #eebbc3;
}

.items {
  margin-bottom: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1350px;
}

.items .item1 {
  padding: 10px;
  text-align: center;
  width: 220px;
  border: #eebbc3 solid 1px;
  background: #eebbc3;
}

.items .item1 p, .items .item1 a, .items .item1 span {
  color: #fff;
}

.items .item1 img {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.items .item1 p {
  margin: 10px;
}

.items .item1:hover {
  background: #fff;
  border: #eebbc3 solid 1px;
}

.items .item1:hover p, .items .item1:hover a, .items .item1:hover span {
  color: #333;
}

.items .item1:hover .buy:hover {
  color: #fff;
  background: #eebbc3;
  padding: 5px;
}
.form{
	
	margin-top:50px;
}
.form .order {
  width: 600px;
  border: #eebbc3 solid 1px;
}

.form .order .infor {
  width: 400px;
}

.form .order .infor p {
  margin: 10px;
  color: #333;
  background: #fff;
}

.form .order .infor span {
  margin: 10px;
  background: #eebbc3;
  color: #fff;
  padding: 5px;
}

.form .order .but a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eebbc3;
  color: #fff;
  border-radius:0px;
  border-left: #eebbc3 solid 1px;
}

.form .order .but a:hover {
  color: #eebbc3;
  background: #fff;
}

.form .order .img {
  width: 200px;
}

.form .order .img img {
  width: 200px;
}
.table{
	margin: 50px;  
}

.table table, .table th, .table td {
  border: 1px solid #333;
}

.table table th, .table table td, .table th th, .table th td, .table td th, .table td td {
  padding: 10px 50px;
}

.table table .thune, .table th .thune, .table td .thune {
  position: relative;
  
}
.table table .thune p:hover, .table th .thune p:hover, .table td .thune p:hover {
	
  color: #eebbc3;
}

.table table .thune .gom, .table th .thune .gom, .table td .thune .gom {
  text-align: left;
  z-index: 1;
  display: none;
  position: absolute;
  width: 450px;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #333;
}

.table table .thune .gom > ul, .table th .thune .gom > ul, .table td .thune .gom > ul {
  margin: 0 auto;
  border-bottom: 1px solid #333;
}

.table table .thune .gom > ul:last-child, .table th .thune .gom > ul:last-child, .table td .thune .gom > ul:last-child {
  border: none;
}

.table table .thune .gom li, .table th .thune .gom li, .table td .thune .gom li {
  margin: 5px 10px;
  padding: 0 10px;
}

.table table .thune:hover .gom, .table th .thune:hover .gom, .table td .thune:hover .gom {
  display: block;
}
/*# sourceMappingURL=test.css.map */
/*# sourceMappingURL=add_prods.css.map */